table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid #f2f2f2;
}

h3 {
    margin: 0 auto;
    text-align: center;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: white;
    color: rgb(3, 1, 36);
}

a {
    color: black;
}

.badMinDifference-futamura,
.badMaxDelta {
    background-color: #ff00374a !important;
}

.minValue,
.goodMinDifference-futamura, 
.goodMaxDelta {
    background-color: #0080215e !important;
}
